body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url(—Pngtree—abstract\ playful\ portfolio\ pink\ memphis_1347357.png);
    background-size: cover;
    font-family: Agbalumo;
}
img{
    height: 200px;
    width: 200px;
    display: block;
    margin: 0 auto;
    align-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    
}
.fade-in-image { 
    border-radius: 50%;
    animation: fadeIn 5s; }

@keyframes fadeIn {
    0% { opacity: 0; 
    box-shadow: 5px 5px 1px #888888;;}
    100% { opacity: 1;
        box-shadow: 10px 10px 5px #888888; }
  }
